/* FOR HERO IMAGE */
.bg-image {
    /* The image used */
    background-image: url("/assets/img/faq-banner.webp");
    
    /* Add the blur effect */
    filter: blur(0px);
    
    /* Full height */
    height: 100%; 
    padding: 200px;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #t1{
    margin-top: 100px;
  }

/* FOR ACCORDION */
  .accordion2 {
    background-color: sienna;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
  }

  
  button.accordion2:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active, .accordion2:hover {
    background-color: sandybrown; 
    color: black;
    content: "\02795";
  }
  
  .panel {
    padding: 0 18px;
    display: block;
    background-color: white;
    transition: 0.6s ease-in-out;
    overflow: hidden;
    font-size: 15px;
  }

  .limits{
    padding: 20px 100px;
  }


/* FOR ACCEPTABLE DONATION */
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .row{
      margin: 20px 100px;
  }

  .contact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: green;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
  }

  .contact:hover {
    background-color: limegreen !important;
    color: black !important;
  }

  .contact a:link{
    color: white;
    text-decoration: none;
  }

  .contact a:hover{
    color: black !important;
    text-decoration: none;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    border-radius: 5px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  @media only screen and (max-width: 650px) {
    #bn, #bn2{
      display: none;
    }

    #temp1{
      text-align: left;
      padding: 20px 15px 0px 15px;
    }

    #temp2{
      text-align: left;
      padding: 0px 15px 0px 15px;
    }

    #temp3{
      text-align: left;
      padding: 20px 15px 0px 15px;
    }

    .row{
      margin: 10px 0px;
    }

    .text-big{
      text-align: center;
    }

    #t1{
      margin-top: 120px;
    }
  }
  
  @media only screen and (max-width: 800px) and (min-width: 649px) {
    #bn{
      display: block;
      width: 100%;
      background-size: contain; 
      background-position: center; 
      background-repeat: no-repeat;
    }

    #bn2{
      display: none;
    }

    #t1{
      margin-top: 0px;
    }

    #temp1{
      text-align: left;
      padding: 20px 15px 0px 15px;
    }

    #temp2, .limits{
      text-align: left;
      padding: 0px 15px 0px 15px;
    }

    #temp3{
      text-align: left;
      padding: 20px 15px 0px 15px;
    }

    .row{
      margin: 10px 0px;
    }

    .column{
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 1019px) and (min-width: 799px) {
    #bn{
      display: block;
      width: 100%;
      background-size: contain; 
      background-position: center; 
      background-repeat: no-repeat;
    }

    #bn2{
      display: none;
    }

    #t1{
      margin-top: 50px;
    }

    #temp1{
      text-align: left;
      padding: 20px 70px 0px 70px;
    }

    #temp2 .limits{
      text-align: left;
      padding: 0px 20px 0px 20px;
    }

    #temp3{
      text-align: left;
      padding: 20px 15px 0px 15px;
    }

    .row{
      margin: 10px 20px;
    }

    .column{
      width: 33.3%;
    }
  }
  
  @media only screen and (max-width: 1200px) and (min-width: 1020px) {
    #bn{
      display: block;
      width: 100%;
      background-size: contain; 
      background-position: center; 
      background-repeat: no-repeat;
    }

    #t1{
      margin-top: 50px;
    }

    #temp1{
      text-align: left;
      padding: 20px 70px 0px 70px;
    }

    #temp2 .limits{
      text-align: left;
      padding: 0px 15px 0px 15px;
    }

    #temp3{
      text-align: left;
      padding: 20px 15px 0px 15px;
    }

    .row{
      margin: 10px 20px;
    }
  }
  
  @media only screen and (max-width: 1400px) and (min-width: 1201px) {
    .row{
      margin: 10px 20px;
    }

    #t1{
      margin-top: 100px;
    }
  }