<div class="bg-image" id="bn"></div>
<p style="float: left; color: red; margin: -50px 0px 0px 110px; z-index: 1000; position: relative;" id="bn2"><a routerLink="/home">Home</a> &#60; FAQ</p>

<!-- FAQ -->
<h1 style="text-align:center;" id="t1">Frequently Asked Questions</h1>
<div class="limits" id="temp1">
  <button class="accordion2">Why Choose Donors Choice?</button>
  <div class="panel">
    <p>We are providing schedule pickup, access to all charities in Canada and a fully online service with a regular email communication with the donor.</p>
  </div><br>

  <button class="accordion2">How to make a donation using our service?</button>
  <div class="panel">
    <p>Visit our website (internet connection is required), go to <a routerLink="/donate">Schedule Page</a>, here you can pick schedule date and time with your preferred pickup location and lastly you can make a donation.</p>
  </div><br>

  <button class="accordion2">How to contact Donors Choice?</button>
  <div class="panel">
    <p>You can contact us anytime using our <a routerLink="/contact">Contact Page</a> and we will contact you within 24 hours.</p>
  </div><br>

  <button class="accordion2">How to cancel my scheduled Donation?</button>
  <div class="panel">
    <p>You can simply go to <a routerLink="/donate">Schedule Page</a> and click <b>"Cancel Schedule Pickup"</b> button. You need to enter donation ID and lastly accept the confirmation. Note you cannot cancel you donation a day before your schedule pickup.</p>
  </div><br>

  <button class="accordion2">How to reset my account Password?</button>
  <div class="panel">
    <p>Go to <a routerLink="/reset">Reset Password Page</a>, enter your email address and click <b>"Send"</b> button. As soon as you receive a password reset email, click the link in your email and then enter new password, confirm password and hit Submit.</p>
  </div><br>

  <button class="accordion2">To whom I can contact for more Info regarding Donors Choice and its services?</button>
  <div class="panel">
    <p>You can directly contact us using our <a routerLink="/contact">Contact Page</a></p>
  </div><br>

  <button class="accordion2">Is Donors Choice safe, can I trust it?</button>
  <div class="panel">
    <p>You can read our <a routerLink="/about">Privacy Policies</a> and then you can decide. Also, we don't share you information to anyone without your permission. Moreover, your donation info will also remain private in our database, noone can access it, edit it or view it, except you.</p>
  </div>
</div>

<div class="limits" id="temp2">
  <!-- ACCEPTABLE DONATIONS -->
  <h1 style="text-align:center; margin-top: 100px;">Acceptable Donations</h1>
  <p class="text-big">At Donors Choice, we treat every “guest” or resident with all the respect. We treat them the way we want to be treated ourselves. That means we never give someone an item of clothing or pair of shoes that we would not be willing to wear ourselves. We need quality clothing and shoes of all sizes for men, women, and children.<br><br>We ask that all donations of used clothing be clean, of good quality, and ready to wear (no repairs needed). Please sort, box, and label all clothes according to gender (men, women, or children) and mark the box as “used.”</p>
</div>

<div class="limits" id="temp3">
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/img/a1.jpg" alt="Jane" style="width:100%">
        <div class="container"><br>
          <h3>Children's Clothes</h3>
          <p class="title">Donation</p>
          <p>Donate clothings to kids. We accept all kind of clothings for 1 year kid to 15 years kids.</p>
          <p><a routerLink="/donate" style="text-decoration: none;" class="contact">Donate Now</a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/assets/img/a2.jpg" alt="Mike" style="width:100%" height="400">
        <div class="container"><br>
          <h3>Men's Clothes</h3>
          <p class="title">Donation</p>
          <p>Many charities ask for men’s clothing – it’s regularly ranked as a high need. Whether it’s a pair of khakis for a job interview or a t-shirt for daily wear, these clothing donations help nonprofits like homeless shelters and community centers better serve men in need. If you are a company interested in donating men’s clothing, please click the button below to donate.</p>
          <p><a routerLink="/donate" style="text-decoration: none;" class="contact">Donate Now</a></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/assets/img/a3.jpg" alt="John" style="width:100%">
        <div class="container"><br>
          <h3>Women's Clothes</h3>
          <p class="title">Donation</p>
          <p>Luckily, the majority of clothing donations we receives are for women. Thanks to generous donors and their help that we are able to offer a selection of high-quality, new men’s clothing which nonprofits can view on our catalog</p>
          <p><a routerLink="/donate" style="text-decoration: none;" class="contact">Donate Now</a></p>
        </div>
      </div>
    </div>
  </div>
</div>