<div class="bg-image"></div>

<div class="bg-text">
  <h1 style="font-size:50px">About Us</h1>
  <h4>Who We Are?</h4>
  <p style="float: left; color: lightcoral;"><a routerLink="/home" style="color: white;">Home</a> &#60; About Us</p><br>
</div>


<!-- ABOUT -->
<br><br>
<h1 style="text-align:center; margin-top: 100px;">History</h1><br>
<p class="text-big" id="t1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; According to a 2017 CBC News report, “$173 million in worn or used clothing was exported from Canada to countries and regions around the world”. Diabetes Canada working with Value Village raises $8.7 million annually through its clothing donation program. As well as the Kidney Foundation of Canada working with Value Village has a clothing donation program.<br><br>

    All the charities in Canada have their own websites and apps which makes donation inconvenient. If a person wants to donate something, then he/she would have to go through all the websites and find a suitable website that accepts such donations and at the end after spending lots to time they are finding such organization he/she would eventually drop or postpone the plan.<br><br>
    
    This project is to a minimum viable product (MVP) of the Donor’s Choice web site which will allow Canadians to donate their gently used clothing to the charity of their choice and to schedule the pickup from a central web site.</p>
<br>


<!-- OUR CLIENTS -->
<h1 style="text-align:center; margin-top: 80px; margin-bottom: 40px;">Our Clients</h1>
<div class="row" id="clients">
    <div class="column3">
        <img src="https://s3.amazonaws.com/cdn.designcrowd.com/blog/100-Famous-Brand%20Logos-From-The-Most-Valuable-Companies-of-2020/nike-logo.png" alt="Person" width="100" height="100">
    </div>
    <div class="column3">
        <img src="https://s3.amazonaws.com/cdn.designcrowd.com/blog/100-Famous-Brand%20Logos-From-The-Most-Valuable-Companies-of-2020/apple-logo.png" alt="Person" width="100" height="100">
    </div>
    <div class="column3">
        <img src="https://s3.amazonaws.com/cdn.designcrowd.com/blog/100-Famous-Brand%20Logos-From-The-Most-Valuable-Companies-of-2020/intel-logo.png" alt="Person" width="100" height="100">
    </div>
    <div class="column3">
        <img src="https://s3.amazonaws.com/cdn.designcrowd.com/blog/100-Famous-Brand%20Logos-From-The-Most-Valuable-Companies-of-2020/nescafe-logo.png" alt="Person" width="100" height="100">
    </div>
    <div class="column3">
        <img src="https://s3.amazonaws.com/cdn.designcrowd.com/blog/100-Famous-Brand%20Logos-From-The-Most-Valuable-Companies-of-2020/ge-logo.png" alt="Person" width="100" height="100">
    </div>
    <div class="column3">
        <img src="https://s3.amazonaws.com/cdn.designcrowd.com/blog/100-Famous-Brand%20Logos-From-The-Most-Valuable-Companies-of-2020/ibm-logo.png" alt="Person" width="100" height="100">
    </div>
    <div class="column3">
        <img src="https://s3.amazonaws.com/cdn.designcrowd.com/blog/100-Famous-Brand%20Logos-From-The-Most-Valuable-Companies-of-2020/visa-logo.png" alt="Person" width="100" height="100">
    </div>

    <!-- <button class="review" style="background-color: green;">SEE ALL CLIENTS</button> -->
</div>
<div class="row"><button class="review" style="background-color: green;">SEE ALL CLIENTS</button></div><br><br>


<!-- OUR TEAM -->
<h1 style="text-align:center; margin-top: 50px;">Our Team</h1>
<div class="row" id="developers">
  <div class="column">
    <div class="card">
      <img src="/assets/img/avatar-2.jpg" alt="Jane" style="width:100%; height: 100%;">
      <div class="container"><br>
        <h3>Richard Polisuk</h3>
        <p class="title">Database Administrator</p>
        <p>My primary job is to ensure that data is available, protected from loss and corruption, and easily accessible as needed.</p>
        <p>rpolisuk@myseneca.ca</p><br>
        <p><button class="contact">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/img/avatar-2.jpg" alt="Mike" style="width:100%">
      <div class="container"><br>
        <h3>Malav Shah</h3>
        <p class="title">Website Developer</p>
        <p>My responsibility is to design, code and modify website that can increase user interactivity and traffic.</p>
        <p>mjshah5@myseneca.ca</p><br>
        <p><button class="contact">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/assets/img/avatar-2.jpg" alt="John" style="width:100%">
      <div class="container"><br>
        <h3>Rushi Patel</h3>
        <p class="title">QA and testing specialist</p>
        <p>My duty is to test the phase of the production process to ensure that final products meet the company standards.</p>
        <p>rdpatel30@myseneca.ca</p><br>
        <p><button class="contact">Contact</button></p>
      </div>
    </div>
  </div>
</div>


<!-- CLIENTS FEEDBACK -->
<h1 style="text-align:center; margin-top: 100px;">Clients Feedback</h1>
<div class="limits">
    <span class="heading">Clients Rating</span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <p>4.3 average based on <a href="">254 reviews</a>.</p>
    <hr style="border:3px solid #f1f1f1">
</div>

<div class="row">
  <div class="side">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div>150</div>
  </div>
  <div class="side">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>63</div>
  </div>
  <div class="side">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div>15</div>
  </div>
  <div class="side">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div>6</div>
  </div>
  <div class="side">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div>20</div>
  </div>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="column2">
        <div class="chip">
            <img src="/assets/img/client.png" alt="Person" width="96" height="96">
            John Doe
        </div><br>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <p>We are satified with the services of Donors Choice</p>
        <p><b>- BubbleGum</b></p>
    </div>

    <div class="column2">
        <div class="chip">
            <img src="/assets/img/c2.png" alt="Person" width="96" height="96">
            Rina Sharma
        </div><br>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>Good service. On time and very polite staff.</p>
        <p><b>- WeCup</b></p>
    </div>

    <div class="column2">
        <div class="chip">
            <img src="/assets/img/client.png" alt="Person" width="96" height="96">
            Chris Nova
        </div><br>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>I received confirmation email with the donation reconciliation. I am happy.</p>
        <p><b>- TimeStart</b></p>
    </div>

    <div class="column2">
        <div class="chip">
            <img src="/assets/img/c2.png" alt="Person" width="96" height="96">
            Micheal Parmar
        </div><br>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <p>Highly recommended for clothing donation to any charity in Canada. They are doing very good job.</p>
        <p><b>- YoGurt</b></p>
    </div>

    <button class="review">SEE MORE REVIEWS</button>
</div>

<!-- OUR GOAL -->
<h1 style="text-align:center; margin-top: 100px;">Our Goal</h1>
<div class="row row2" id="goal">
    <div class="column4">
        <div class="card2">
            <div class="roundImg">
                <img src="/assets/img/mission4.png" class="centerImg" alt="Avatar" width="60" height="60">
            </div><br>
            <div class="container2">
                <h4><b>Mission</b></h4> 
                <p>Our mission is to innovate intuitive, futuristic and result-oriented donation solutions for our donors.</p> 
            </div>
        </div>
    </div>

    <div class="column4">
        <div class="card2">
            <div class="roundImg">
                <img src="/assets/img/vision3.png" class="centerImg" alt="Avatar" width="60" height="60">
            </div><br>
            <div class="container2">
                <h4><b>Vision</b></h4> 
                <p>By comprehending the globally successful donation strategies and methods, we aim to become a trustful and well-known company.</p> 
            </div>
        </div>
    </div>

    <div class="column4">
        <div class="card2">
            <div class="roundImg">
                <img src="/assets/img/purpose2.png" class="centerImg" style="margin-top: 30px;" alt="Avatar" width="35" height="80">
            </div>
            <div class="container2"><br>
                <h4><b>Purpose</b></h4> 
                <p>Our purpose is to bring enough donation from around the globe to Canada and help needy people as much as we can.</p> 
            </div>
        </div>
    </div>
</div>


<!-- PRIVACY POLICY -->
<h1 style="text-align:center; margin-top: 70px;">Privacy Policy</h1><br>
<div class="row2">
    <h3>Privacy & Security</h3>
    <hr class="pHr"><br>
    <p class="text-big">Student team built the Donor's Choice app as a Free website. This SERVICE is provided by students at no cost and is intended for use as is.
    This page is used to inform visitors regarding my policies with the collection, use, and disclosure of Personal Information if anyone decided to use my Service.
    If you choose to use my Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that I collect is used for providing and improving the Service. I will not use or share your information with anyone except as described in this Privacy Policy.
    The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Donor's Choice unless otherwise defined in this Privacy Policy.</p><br>

    <h3>Information Collection and Use</h3>
    <hr class="pHr"><br>
    <p class="text-big">For a better experience, while using our Service, I may require you to provide us with certain personally identifiable information, including but not limited to name, email, address, location. The information that I request will be retained on your device and is not collected by me in any way.
        The app does use third party services that may collect information used to identify you.
        Link to privacy policy of third party service providers used by the app.
    </p><br>

    <h3>Log Data</h3>
    <hr class="pHr" style="width: 80px;"><br>
    <p class="text-big">I want to inform you that whenever you use my Service, in a case of an error in the app I collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing my Service, the time and date of your use of the Service, and other statistics.
    </p><br>

    <h3>Cookies</h3>
    <hr class="pHr" style="width: 80px;"><br>
    <p class="text-big">Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.<br>
        This Service does not use these “cookies” explicitly. However, the app may use third party code and libraries that use “cookies” to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.
    </p><br>

    <h3>Service Providers</h3>
    <hr class="pHr"><br>
    <p class="text-big">
    I may employ third-party companies and individuals due to the following reasons:</p>
    <blockquote class="text-big">
        - To facilitate our Service<br>
        - To provide the Service on our behalf<br>
        - To perform Service-related services<br>
        - To assist us in analyzing how our Service is used<br>
    </blockquote>
    <p class="text-big">I want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose. 
    </p><br>

    <h3>Security</h3>
    <hr class="pHr" style="width: 80px;"><br>
    <p class="text-big">I value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and I cannot guarantee its absolute security.
    </p><br>

    <h3>Links to Other Sites</h3>
    <hr class="pHr"><br>
    <p class="text-big">This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by me. Therefore, I strongly advise you to review the Privacy Policy of these websites. I have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
    </p><br>

    <h3>Children’s Privacy</h3>
    <hr class="pHr"><br>
    <p class="text-big">These Services do not address anyone under the age of 13. I do not knowingly collect personally identifiable information from children under 13 years of age. In the case I discover that a child under 13 has provided me with personal information, I immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact me so that I will be able to do necessary actions.
    </p><br>

    <h3>Changes to This Privacy Policy</h3>
    <hr class="pHr"><br>
    <p class="text-big">I may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new Privacy Policy on this page.<br>
    This policy is effective as of 2021-05-29        
    </p><br>

    <h3>Contact Us</h3>
    <hr class="pHr"><br>
    <p class="text-big">If you have any questions or suggestions about my Privacy Policy, do not hesitate to <a routerLink="/contact" >contact us</a>
    </p>
</div>