<!-- Hero Section -->
<!-- <section class="hero-image">
    <div>
      <div class="hero-text">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h1></h1><a routerLink class="hero-link"></a>
        </div>
      </div>
    </div>
</section> -->
<br><br>
<div class="row2">
    <h1 class="big-text">Schedule Pickup</h1>

    <div class="box">
        <br>
        <form #f="ngForm" id="form1" (ngSubmit)="donateNow($event, f)">
            <p class="ptext" style="margin-bottom: 5px;">Selected Charity</p>
            <input type="text" name="legalname" id="legalname" style="border-radius: 5px; width: 100%; text-align: center;" max="30" value="{{clickedChrt.legalname}}" [(ngModel)]="clickedChrt.legalname" disabled/>
            <br><br><br><br>

            <p class="ptext">Contact Information</p><hr>
            <div class="column2" style="width: 46%;">
                <!-- <label for="firstname">First Name</label><br> -->
                <input type="text" name="contactname" id="contactname" style="border-radius: 5px;" max="30" min="3" placeholder="Full Name*" autofocus [(ngModel)]="donation.contactname" #contactname="ngModel" required/>
                <span *ngIf="f.submitted && contactname.errors?.required" class="help-block">Full Name is required</span>
            </div>

            <div class="column2" style="width: 47%;">
                <!-- <label for="firstname">First Name</label><br> -->
                <input type="text" name="username" id="username" style="border-radius: 5px;" placeholder="Email*" #username="ngModel" [(ngModel)]="donation.username" required/>
                <span *ngIf="f.submitted && username.errors?.required" class="help-block">Email is required</span>
                <p id="eError" class="help-block"></p>
            </div>

            <!-- <div class="column2">
                <label for="midname">Middle Name</label><br>
                <input type="text" name="midname" id="midname" style="border-radius: 5px;" max="10" min="3" placeholder="Middle Name"/><br><br>
            </div>

            <div class="column2">
                <label for="lastname">Last Name</label><br>
                <input type="text" name="lastname" id="lastname" style="border-radius: 5px;" max="10" min="3" placeholder="Last Name"/><br><br>
            </div> -->

            <div class="column2" style="width: 63%;">
                <!-- <label for="address">Address</label><br> -->
                <input type="text" name="address" id="address" style="border-radius: 5px;" #address="ngModel" placeholder="Address*" [(ngModel)]="donation.address" required />
                <span *ngIf="f.submitted && address.errors?.required" class="help-block">Address is required</span>
            </div>

            <div class="column2">
                <!-- <label for="postalcode">Postal Code</label><br> -->
                <input type="text" name="postalcode" id="postalcode" style="border-radius: 5px;" #postalcode="ngModel" max="7" min="6" placeholder="Postal Code*" [(ngModel)]="donation.postalcode" required/>
                <span *ngIf="f.submitted && postalcode.errors?.required" class="help-block">Postal code is required</span><br><br>
            </div>

            <div class="column2">
                <!-- <label for="city">City</label><br> -->
                <!-- <input type="text" name="city" id="city" style="border-radius: 5px;"/><br><br> -->
                <select id="city" name="city" [(ngModel)]="donation.city" (ngModelChange)="cityChanged($event)" #city="ngModel" required>
                    <option disabled value="City" selected>City</option>
                    <option value="Toronto">Toronto</option>
                    <option value="Montreal">Montreal</option>
                    <option value="Vancouver">Vancouver</option>
                    <option value="Calgary">Calgary</option>
                    <option value="Edmonton">Edmonton</option>
                    <option value="Ottawa–Gatineau">Ottawa–Gatineau</option>
                    <option value="Winnipeg">Winnipeg</option>
                    <option value="Quebec City">Quebec City</option>
                    <option value="Hamilton">Hamilton</option>
                    <option value="Kitchener–Waterloo–Cambridge">Kitchener–Waterloo–Cambridge</option>
                    <option value="London">London</option>
                    <option value="Victoria">Victoria</option>
                    <option value="Halifax">Halifax</option>
                    <option value="Oshawa">Oshawa</option>
                    <option value="Windsor">Windsor</option>
                </select>
                <p id="selectedCity" class="help-block"></p>
            </div>

            <div class="column2">
                <!-- <label for="province">Province</label><br> -->
                <!-- <input type="text" name="province" id="province" style="border-radius: 5px;"/><br><br> -->
                <select id="province" name="province" [(ngModel)]="donation.province" required disabled>
                    <option disabled value="Province" selected>Province</option>
                    <option value="Ontario">Ontario</option>
                    <option value="Quebec">Quebec</option>
                    <option value="Nova Scotia">Nova Scotia</option>
                    <option value="New Brunswick">New Brunswick</option>
                    <option value="Manitoba">Manitoba</option>
                    <option value="British Columbia">British Columbia</option>
                    <option value="Prince Edward Island">Prince Edward Island</option>
                    <option value="Saskatchewan">Saskatchewan</option>
                    <option value="Alberta">Alberta</option>
                    <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                </select>
                <p id="selectedProvince" class="help-block"></p>
            </div>

            <div class="column2" id="contree">
                <!-- <label for="country">Country</label><br> -->
                <input type="text" name="country" id="country" value="Canada" disabled style="border-radius: 5px;"/><br><br><br><br>
            </div>


            <p class="ptext">Items to Donate</p><hr>
            <div class="column2" style="text-align: center;" id="c1">
                <label for="men" style="margin-bottom: 0px;">
                    <input type="checkbox" id="men" name="men" value="men" [(ngModel)]="option.men" checked>&nbsp;
                    Men's Clothes
                </label><br>
                <span id="items" style="text-align: center;" class="help-block"></span>
            </div>

            <div class="column2" style="text-align: center;" id="c2">
                <label for="women" style="margin-bottom: 0px;">
                    <input type="checkbox" id="women" name="women" value="women" [(ngModel)]="option.women">&nbsp;
                    Women's Clothes
                </label><br>
                <span id="items2" style="text-align: center;" class="help-block"></span>
            </div>

            <div class="column2" style="text-align: center;" id="c3">
                <label style="margin-bottom: 0px;" for="children">
                    <input type="checkbox" id="children" name="children" value="children" [(ngModel)]="option.children">&nbsp;
                    Children's Clothes
                </label>
                <span id="items3" style="text-align: center;" class="help-block"></span>
                <br><br><br><br>
            </div>
            <!-- <span id="items" style="text-align: center;" class="help-block"></span> -->

            <p class="ptext">Pickup Date &amp; Time</p><hr>
            <div class="column2">
                <!-- <label for="date">Date</label><br> -->
                <input type="date" id="date" name="date" #date="ngModel" placeholder="Pickup Date*" style="border-radius: 5px;" [(ngModel)]="donation.pickupdate" required min="{{todayDate | date:'yyyy-MM-dd'}}">
                <p style="font-size: medium;"><i>Default: Today's Date</i></p>
            </div>

            <div class="column2" style="width: 63%;">
                <!-- <label for="instruction">Special Instructions</label><br> -->
                <input type="text" name="phone" id="phone" #phone="ngModel" style="border-radius: 5px;" placeholder="Phone" [(ngModel)]="donation.phone" title="Only numbers and upto 10 digits" required/>
                <span *ngIf="f.submitted && phone.errors?.required" class="help-block">Phone number is required</span>
                <p id="pError" class="help-block"></p>
                <br>
            </div>

            <!-- <label for="time">Time</label><br> -->
            <!-- <div class="column3">
                <input type="number" id="time" name="time" max="12" min="01" value="11" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;"><br><br>
            </div>

            <div class="column3">
                <input type="number" id="min" name="min" max="59" min="00" value="59" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;"><br><br>
            </div> -->

            <div class="column2" style="font-size: large; text-align: center;" id="c4">
                <label for="morning">
                    <input type="radio" id="morning" name="pickuptime" value="Morning" [(ngModel)]="donation.pickuptime" checked>&nbsp;
                Morning (8 am to 11:59 am)</label>
            </div>

            <div class="column2" style="font-size: large; text-align: center;" id="c5">
                <label for="noon">
                    <input type="radio" id="noon" name="pickuptime" value="Noon" [(ngModel)]="donation.pickuptime">&nbsp;
                Noon (12 pm to 4 pm)</label>
            </div>

            <div class="column2" style="font-size: large; text-align: center;" id="c6">
                <label for="evening">
                    <input type="radio" id="evening" name="pickuptime" value="Evening" [(ngModel)]="donation.pickuptime">&nbsp;
                Evening (5 pm to 8 pm)</label><br><br><br><br>
            </div>

            <p class="ptext">Confirmation</p><hr>
            <label for="confirmationStmnt" style="font-size: large;">I ({{donation.contactname}}) want to donate used clothing to <b>{{clickedChrt.legalname}}</b> charity. The pickup date is <b>{{donation.pickupdate}}</b> and the time is in the <b>{{donation.pickuptime}}</b>.</label><br><br>

            <input style="margin-left: 16px;" type="checkbox" id="terms" name="terms" value="terms" #terms="ngModel" [(ngModel)]="option.terms" required>&nbsp;&nbsp;
            <label for="terms" style="display: contents; margin-bottom: 0px; font-size: large;">I agree to the <a routerLink="/about" style="color: brown; text-decoration: underline;" target="_blank">Terms and conditions</a> of Donors Choice</label>
            <span *ngIf="f.submitted && terms.errors?.required" class="help-block">Please accept the Terms and Conditions to make a donation</span><br><br><br>

            <button class="btn2" type="submit">DONATE</button>
            
            <button class="btn2" style="background-color: red; float: right; padding: 10px 55px;" type="reset">RESET</button><br>
            <span class="help-block" id="donateError"></span>
        </form>

        <form id="form2">
            <p class="ptext">Thank you for making a donation to a charity using our services. You will receive an email shortly including all the details of your donation.</p>
        </form>
    </div>
</div>