.hero-image {
    background-image: url("/assets/img/donate-now2.png");
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 550px;
    width: 100%;
  }

.row2{
    padding: 70px 200px 70px 200px;
}

.column2 {
    float: left;
    width: 30%;
    margin: 16px;
}

.box{
    padding: 30px 50px 50px 50px;
    border: 3px solid brown;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    background-color: cyan;
    display: flow-root;
}


/* CANCEL PICKUP BUTTON */
.btn1 {
    border: none;
    outline: 0;
    display: block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    float: right;
    padding: 10px 30px;
    font-size: medium;
  }

  .btn1:hover {
    background-color: orangered !important;
    color: white !important;
  }

  .btn1 a:link{
    color: white;
    text-decoration: none;
  }

  .btn1 a:hover{
    color: black !important;
    text-decoration: none;
  }


  .btn2{
    border: 1px solid black;
    border-radius: 25px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 10px 50px;
  }

  input[type=text], select, textarea, input[type=date], input[type=number], input[type=email]{
      background-color: brown;
      color: white;
      border: 1px solid brown;
      padding: 10px;
      font-size: large;
      width: 100%;
  }

  input[type=checkbox], input[type=radio] {
    transform: scale(1.9);
  }

  input[type=number] {
    width: 100%;
  }


  /* DATE AND TIME PICKER */
  .column3 {
    float: left;
    width: 21%;
    margin: 16px;
  }


  .ptext{
    font-size: xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 0px;
  }


  .charityBox{
    color: black; 
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 80%;
    font-size: small;
    cursor: pointer;
  }

  hr{
    position: relative;
    border-radius: 25px;
    height: 3px;
    background: black;
    margin-bottom: 30px;
    width: 14%;
    margin-top: 7px;
  }

  .help-block{
    color: red;
    font-size: large;
  }

  @media only screen and (max-width: 650px) {
  
  }
  
  @media only screen and (max-width: 800px) and (min-width: 649px) {
    
  }
  
  @media only screen and (max-width: 1019px) and (min-width: 799px) {
  
  }
  
  @media only screen and (max-width: 1200px) and (min-width: 1020px) {
  
  }
  
  @media only screen and (max-width: 1400px) and (min-width: 1201px) {
  
  }