<br><br><br>
<img src="/assets/img/admin-banner.jpg" width="100%" style="background-size: cover; background-position: center; background-repeat: no-repeat;" id="t1">

<section style="padding-top: 50px;" class="py-5 shadow-sm index-forward">
    <!-- <div class="container py-5" style="padding-bottom: 0px !important;">
      <header>
        <h1>Admin Page</h1><hr>
      </header><br>
      <div class="row" style="display: block;">
        <div class="col-lg-7 mb-5 mb-lg-0" style="padding-left: 0px; max-width: 100%">
          <div class="pt-1">
            <div class="p-4 p-lg-5 bg-white" style="padding-left: 20px !important; padding-top: 20px !important;">
              <form #f="ngForm" (ngSubmit)="formSubmit(f)">
                <div class="row">
                  <div class="form-group col-lg-6">
                    <input class="form-control" type="email" id="email" name="email" #email="ngModel" placeholder="Please enter Donor's Email" [(ngModel)]="admin.email" required autofocus>
                    <span *ngIf="f.submitted && email.errors?.required" class="help-block">Donor's Email is required</span>
                    <span class="success" id="successError"></span>
                    <span id="eError" class="help-block"></span>
                  </div>
                  <div class="form-group col-lg-12">
                    <button class="btn btn-outline-primary" style="background: green; color: white;" type="submit">Submit now</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row2">
      <div *ngFor="let c of charitiesArray" class="column2">
        <h3 style="background-color: white;">Charity Info</h3>
        <div class="charityDetailBox">
          <!-- <p> -->
            <img src="/assets/img/charity.jpg" id="pic" width="300px" height="200px"/><br><br>
            <form #f="ngForm">
              <!-- <b>Pickup ID: </b>{{c.pickupid}}<br> -->
              <!-- <b>Donor ID: </b>{{c.donorid}}<br> -->
              <!-- <b>Admin ID: </b>{{c.adminid}}<br> -->
              <!-- <b>Business Number: </b>{{c.businessnumber}}<br> -->
              <!-- <b>Amount: </b>{{c.amount}}<br> -->
              <!-- <b>Pickup ID: </b>{{c.pickupid}}<br> -->
              <input type="text" class="form-control" value="{{c._id}}" id="_id" name="_id" disabled>
              <!-- <b>Donor ID: </b>{{c.donorid}}<br> -->
              <input type="text" class="form-control" value="{{c.username}}" id="username" name="username" disabled>
              <!-- <b>Admin ID: </b>{{c.adminid}}<br> -->
              <!-- <input type="text" class="form-control" value="{{c.adminid}}" id="adminid" name="adminid" disabled> -->
              <!-- <b>Business Number: </b>{{c.businessnumber}}<br> -->
              <!-- <div *ngFor="let cn of cNamesArray"> -->
                <input type="text" class="form-control" value="{{c.phone}}" id="businessnumber" name="businessnumber" disabled>
              <!-- </div> -->
              <input type="number" class="form-control" placeholder="Amount" id="amount" #amount="ngModel" [(ngModel)]="recon.amount" name="amount" min="0" required>
              <span *ngIf="f.submitted && amount.errors?.required" class="help-block">Amount is required</span><br>
              <b>Created Date: </b>{{c.createdAt | date:'medium'}}<br><br>
              <button class="btn" type="submit" (click)=confirmDonation(c._id,f,c.username,c.donations[0].businessnumber)>Confirm</button>
              <button class="btn" style="float: right;" (click)=failedDonation(c._id)>Failed</button>
            </form>
          <!-- </p> -->
        </div>
      </div>
    </div>
</section>