  hr{
    position: relative;
    border-radius: 25px;
    height: 3px;
    background: black;
    margin-bottom: 30px;
    width: 14%;
    margin-top: 7px;
    margin-left: 30px;
    float: left;
  }

  .charityDetailBox{
    color: black; 
    background-color: cyan;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    width: 90%;
    font-size: small;
    position: relative;
    display: flow-root;
  }

  .row2{
    padding: 0px 100px 50px 100px;
  }

  .column2 {
    float: left;
    width: 30%;
    margin: 20px;
  }

  .help-block{
    color: red;
  }

  .success{
    color: red;
  }

  .btn{
    float: left; 
    padding: 10px; 
    background: brown; 
    color: white;
  }

  input[type=text], input[type=number]{
    margin: 5px 0px;
    color:black;
  }

  .form-control:disabled{
    color:black;
  }

  @media only screen and (max-width: 650px) {
    #t1{
      display: block;
      width: 100%;
      background-size: contain; 
      background-position: center; 
      background-repeat: no-repeat;
    }

    .row2{
      padding: 0px 10px 50px 10px;
    }

    .column2{
      width: 100%;
      margin: 10px;
    }

    #pic{
      width: 100%;
      height: 100%;
    }
  }
  
  @media only screen and (max-width: 800px) and (min-width: 649px) {
    #t1{
      display: block;
      width: 100%;
      background-size: contain; 
      background-position: center; 
      background-repeat: no-repeat;
    }

    .row2{
      padding: 0px 10px 50px 10px;
    }

    .column2{
      width: 50%;
      margin: 10px 0px;
    }

    #pic{
      width: 100%;
      height: 100%;
    }
  }
  
  @media only screen and (max-width: 1019px) and (min-width: 799px) {
    #t1{
      display: block;
      width: 100%;
      background-size: contain; 
      background-position: center; 
      background-repeat: no-repeat;
    }

    .row2{
      padding: 0px 10px 50px 10px;
    }

    .column2{
      width: 50%;
      margin: 10px 0px;
    }

    #pic{
      width: 100%;
      height: 100%;
    }
  }
  
  @media only screen and (max-width: 1200px) and (min-width: 1020px) {
    #t1{
      display: block;
      width: 100%;
      background-size: contain; 
      background-position: center; 
      background-repeat: no-repeat;
    }

    .row2{
      padding: 0px 10px 50px 10px;
    }

    .column2{
      width: 33%;
      margin: 10px 0px;
    }

    #pic{
      width: 100%;
      height: 100%;
    }
  }
  
  @media only screen and (max-width: 1400px) and (min-width: 1201px) {
    #t1{
      display: block;
      width: 100%;
      background-size: contain; 
      background-position: center; 
      background-repeat: no-repeat;
    }

    .row2{
      padding: 0px 70px 50px 70px;
    }

    .column2{
      width: 33%;
      margin: 10px 0px;
    }

    #pic{
      width: 100%;
      height: 100%;
    }
  }