<!-- Hero Section -->
<section class="hero-image">
    <div>
      <div class="hero-text">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h1></h1><a routerLink class="hero-link"></a>
        </div>
      </div>
    </div>
</section>

<div class="row2">
    <h1 class="big-text">Clothing Donation</h1>

    <div class="box">
        <button class="btn1" (click)="cancelExistingDonation()" id="cancelBtn">Cancel Exisiting Pickup</button><br>
        <form action="#" id="form1">  <!--#f="ngForm" (ngSubmit)='onSubmit(f)'-->
            <!-- <label for="charity">Select a Charity</label><br> -->
            <p class="ptext">Select a Charity</p>
            <!-- <select id="charities" style="width: 70%;" autofocus>
                <option value={{charity.cat}} *ngFor = "let charity of charities">{{charity.cat}}</option>
            </select> -->
            <input type="text" name="legalname" id="legalname" style="border-radius: 5px; width: 600px;" max="30" placeholder="Charity Name" autofocus [(ngModel)]="chrt.legalname"/>
            <button (click)="searchCharity($event, $event)" id="search" style="font-size: medium; padding: 10px 20px; margin-left: 50px;">Search</button><br><br>
            <p class="charityBox" id="searchResults"></p>
            <div *ngFor="let c of charitiesArray">
                <a class="charityBox" [routerLink]="['/donate', c.businessnumber]">{{c.legalname}}</a>
            </div><br>
            <div class="w-100"><app-paging [page]="page" (newPage)="getPage($event)"></app-paging></div><br>
            <div class="w-100">Total pages of your searched query: {{pages}}</div>
        </form>

        <form id="form2" #f="ngForm" (ngSubmit)="formSubmit($event, f)">
            <p class="ptext">Donation ID</p>
            <input type="text" name="donationid" required #cancelId="ngModel" [(ngModel)]="cancel.cancelID" id="donationid" placeholder="Enter Donation ID">

            <button class="btn2" type="submit" style="background-color: red; margin-left: 50px;">CANCEL DONATION</button><br>
            <span *ngIf="f.submitted && cancelId.errors?.required" class="help-block">Donation ID is required</span>
            <p class="help-block" id="cancelError"></p><br><br>

            <button class="btn2" (click)="makeNewDonation($event)" style="margin: 0 auto; width: 70%; position: relative; display: block;">MAKE NEW DONATION</button>
        </form>

        <form id="form3">
          <p class="ptext">Success! Your donation has been successfully cancelled. You will receive an email shortly including all the details of your donation.</p><br>

          <button class="btn2" (click)="makeNewDonation($event)" style="margin: 0 auto; width: 70%; position: relative; display: block;">MAKE NEW DONATION</button>
      </form>
    </div>
</div>