<!-- Hero Section -->
<section class="hero-image">
  <div>
    <div class="hero-text">
      <h1 style="font-size:40px">Donate Clothing to the charity<br> of your choice</h1>
      <p>We are providing you the service of donating clothing to any charity in Canada</p>
      <button>Discover More</button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1></h1><a routerLink class="hero-link"></a>
      </div>
    </div>
    <!-- <a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a> -->
  </div>
</section>

<!-- Intro Section -->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="text-align: center;">
        <h2 class="h3">Canada’s best destination for donating clothing online</h2>
        <p class="text-big">We provide the best service of donate clothing to all charities in Canada. Our mission is to inform, inspire and connect charities and donors, with the causes they care about. </p>
      </div>
    </div>
  </div>
</section>
<section class="featured-posts no-padding-top">
  <div class="container">

    <!-- Post -->
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a routerLink>Environment</a><a routerLink>Technology</a></div><a routerLink="/post">
                <h2 class="h4">Your Clothing Donations Make a Difference </h2></a>
            </header>
            <p>Donors Choice receives donations from thousands of individuals, groups, retailers and corporations across Toronto, who want to promote health, self esteem, social inclusion, and employability for those in need. Our donors help us divert clothing from landfills, reducing waste and improving the environment.</p>
            <footer class="post-footer d-flex align-items-center"><a routerLink class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="/assets/img/user2.png" alt="Richard Polisuk" class="img-fluid"></div>
                <div class="title"><span>Richard Polisuk</span></div></a>
                
              <div class="comments"><i class="icon-comment"></i></div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5"><img src="/assets/img/d9.jpg" alt="Clothing Donation Image"></div>
    </div>

    <!-- Post -->
    <div class="row d-flex align-items-stretch">
      <div class="image col-lg-5"><img src="/assets/img/d8.jpg" alt="..."></div>
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a routerLink>Good</a><a routerLink>Helpers</a></div><a routerLink="/post">
                <h2 class="h4">Our Team of Passionate and Dedicated Volunteers </h2></a>
            </header>
            <p>Our volunteers come from all walks of life. Many are students of Seneca, some are high school students, while others are from the greater community. Volunteering is a great opportunity to share life stories and experiences as you work together.

              We are committed to working with a range of not-for-profit organizations across Toronto to develop volunteer placements that accommodate diverse and special needs, as well as offering flexible, inclusive and accessible environments to support volunteers. </p>
            <footer class="post-footer d-flex align-items-center"><a routerLink class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="/assets/img/user2.png" alt="..." class="img-fluid"></div>
                <div class="title"><span>Malav Shah</span></div></a>
              <div class="comments"><i class="icon-comment"></i></div>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <!-- Post -->
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a routerLink>Business</a><a routerLink>Technology</a></div><a routerLink="/post">
                <h2 class="h4">Every Dollar Counts Towards a Brighter Future </h2></a>
            </header>
            <p>Donating funds – in any capacity – will make a lasting difference in the lives of people. Also, gift to honour the memory of a loved one can be special tribute to their lives. You may also consider making a special gift to celebrate a milestone event with your family, friends or colleagues. Birthdays, anniversaries and retirement are wonderful opportunities to honour the moment with a gift that can change someone’s life. </p>
            <footer class="post-footer d-flex align-items-center"><a routerLink class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="/assets/img/user2.png" alt="..." class="img-fluid"></div>
                <div class="title"><span>Rushi Patel</span></div></a>
              <div class="comments"><i class="icon-comment"></i></div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5"><img src="/assets/img/d10.jpg" alt="..."></div>
    </div>
  </div>
</section>

<!-- Divider Section-->
<section style="background: url(/assets/img/divider-bg.jpg); background-size: cover; background-position: center bottom" class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><b style="color: orange;">Holiday Angels</b></h1><br>
        <h4 style="color: antiquewhite;">We come up with a new program in which we will exchange presents in the holiday season and try to make much better Christmas for all who join us on that special occasion.</h4><br>
          <ul class="social-menu">
            <li class="list-inline-item" style="margin-right: 20px;"><a href="https://twitter.com/SenecaCollege"><h3><i class="fa fa-twitter"></i></h3></a></li>
            <li class="list-inline-item" style="margin-right: 20px;"><a href="https://www.instagram.com/senecacollege/?hl=en"><h3><i class="fa fa-instagram"></i></h3></a></li>
            <li class="list-inline-item" style="margin-right: 20px;"><a href="https://facebook.com/SenecaCollege"><h3><i class="fa fa-facebook"></i></h3></a></li>
            <li class="list-inline-item" style="margin-right: 20px;"><a href="https://whatsapp.com/SenecaCollege"><h3><i class="fa fa-whatsapp"></i></h3></a></li>
            <li class="list-inline-item" style="margin-right: 20px;"><a href="https://whatsapp.com/SenecaCollege"><h3><i class="fa fa-snapchat"></i></h3></a></li>
          </ul>
      </div>
    </div>
  </div>
</section>

<!-- Latest Posts -->
<section class="latest-posts"> 
  <div class="container">
    <header> 
      <h2>Our Latest Blogs</h2>
      <p class="text-big">We covered latest news regarding clothing donation to the charities. Go check it out <a href="#" style="color: blue;">Now</a>.</p>
    </header>
    <div class="row">
      <div class="post col-md-4">
        <div class="post-thumbnail"><a routerLink="/post"><img src="/assets/img/d1.jpg" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 May | 2021</div>
            <div class="category"><a routerLink>Donation</a></div>
          </div><a routerLink="/post">
            <h3 class="h4">Ways to donate clothing to the Needy</h3></a>
          <p class="text-muted">“Where can I donate my old clothing?” you may ask yourself. Should you donate your clothing to charity, a local community organization, the neighborhood Goodwill or somewhere else? What kind of items ...</p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail"><a routerLink="/post"><img src="/assets/img/d7.jpg" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">02 Jan | 2018</div>
            <div class="category"><a routerLink>Technology</a></div>
          </div><a routerLink="/post">
            <h3 class="h4">The Most Useful Items To Donate</h3></a>
          <p class="text-muted">We’re going to go over some of the most useful items to donate in the summer so you can start to gather up your donations. Although some of these items are needed all year round, there are a few special items ...</p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail"><a routerLink="/post"><img src="/assets/img/d11.jpg" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">22 Nov | 2016</div>
            <div class="category"><a routerLink>Technology</a></div>
          </div><a routerLink="/post">
            <h3 class="h4">3 Reasons: You Should Donate Your Old Clothes Instead of Throwing Them Away</h3></a>
          <p class="text-muted">When you donate your clothes, you are saving the environment from a lot of harm. According to the EPA, it costs $45 on average per ton to dispose of waste in ...</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Newsletter Section-->
<section class="newsletter no-padding-top">    
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Subscribe to Our Newsletter</h2>
        <p class="text-big">To receive notifications of all the programs and events that we organized in upcoming weeks, please provide your email and subscribe to our newsletter.</p>
      </div>
      <div class="col-md-8">
        <div class="form-holder">
          <form action="#">
            <div class="form-group">
              <input type="email" name="email" id="email" placeholder="Type your email address">
              <button type="submit" class="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Gallery Section-->
<section class="gallery no-padding">    
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6" style="border: 3px solid black;">
      <div class="item"><a href="/assets/img/d12.jpg" data-fancybox="gallery" class="image"><img src="/assets/img/d12.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6" style="border: 3px solid black;">
      <div class="item"><a href="/assets/img/d13.jpg" data-fancybox="gallery" class="image"><img src="/assets/img/d13.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6" style="border: 3px solid black;">
      <div class="item"><a href="/assets/img/d14.jpg" data-fancybox="gallery" class="image"><img src="/assets/img/d14.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6" style="border: 3px solid black;">
      <div class="item"><a href="/assets/img/d15.jpg" data-fancybox="gallery" class="image"><img src="/assets/img/d15.jpg" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
  </div>
</section>

