.help-block{
    color: red;
}

.success{
    padding: 10px;
    border: 3px solid green;
    color: green;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 30px;
}

@media only screen and (max-width: 650px) {
  
}

@media only screen and (max-width: 800px) and (min-width: 649px) {
  
}

@media only screen and (max-width: 1019px) and (min-width: 799px) {

}

@media only screen and (max-width: 1200px) and (min-width: 1020px) {

}

@media only screen and (max-width: 1400px) and (min-width: 1201px) {

}